{% include "header.html" %}
<div class="jumbotron text-center">
  <h1 class="display-4">Documentation</h1>
  <p class="lead">Single Meta Deck Choice & Cards Associated.</p>
  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#singleDeck" role="button" aria-expanded="false" aria-controls="collapseExample">
        Run
    </a>
  </p>
  <div class="collapse" id="singleDeck">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
  </div>
  <hr class="my-4">
</div>
{% include "footer.html" %}