{% include "header.html" %}
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to the TCG Helper API!</h1>
  <p class="lead">TCG Helper is a free API which helps consolidate current meta decks and an average price for the card
    decks including links.</p>
  <hr class="my-4">
  <p>Click the Barboach below to access documentation.</p>
  <p class="lead">
    <a class="doc-button" href="{{url_for('documentation')}}" role="documentation-button">
      <img src="https://www.pkparaiso.com/imagenes/espada_escudo/sprites/animados-gigante/barboach.gif"
           alt="Barboach Gif"
           width="100"
           height="100">
    </a>
  </p>
  <hr class="my-4">
  <div>
    <h2>Version Information</h2>
    <p>Current version for the TCG Helper API is on Version <strong>1.0</strong> and is able to:</p>
      <ul>
        <li>Produce Current Standard Meta Decks</li>
        <li>Provide user with Cards associated with each decks</li>
        <li>User can search, find all or random choice through API endpoints</li>
      </ul>
    <p>Future version will calculate prices of each card and display them on JSON data.</p>
  </div>
</div>
{% include "footer.html" %}